// SCSS-variabler
$color-dark: #0B0F19;
$color-primary: #6366F1;
$color-secondary: #EFF2FC;
$color-gray: #9397AD;
$color-white: #fff;
$color-gradient: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);

$container-padding: 1rem;
$transition-item: all 0.2s;