* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(0, 0, 0);
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #fff;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

a {
  color: #6366F1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  gap: 1.5rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  header .container {
    gap: 3rem;
  }
}
@media (min-width: 1400px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    gap: 2rem;
  }
}
header .nav-link {
  color: #0B0F19;
  font-weight: 500;
}
header .nav-link:hover, header .nav-link:active {
  color: #6366F1;
  text-decoration: underline;
}
header .navbar {
  display: none;
}
@media (min-width: 1400px) {
  header .navbar {
    display: block;
  }
}
header .btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
@media (min-width: 1400px) {
  header .btn-mobile {
    display: none;
  }
}
header #auth-signin {
  display: none;
}
@media (min-width: 1400px) {
  header #auth-signin {
    display: block;
  }
}

.btn-primary {
  background-color: #6366F1;
  color: #fff;
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #9397AD;
}
.btn-primary i {
  margin-right: 0.5rem;
}

.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-toggle-switch .label {
  display: none;
}
@media (min-width: 768px) {
  .btn-toggle-switch .label {
    display: block;
  }
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9397AD;
  transition: all 0.2s;
}
.toggle-switch .slider::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 3px;
  bottom: 2.5px;
  background-color: #fff;
  transition: all 0.2s;
}
.toggle-switch .slider.round {
  border-radius: 35px;
}
.toggle-switch .slider.round::before {
  border-radius: 50%;
}
.toggle-switch input:checked + .slider::before {
  transform: translateX(20px);
}
.toggle-switch input:checked + .slider {
  background-color: #6366F1;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

#brands {
  padding: 2rem 0;
  display: none;
}
#brands .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
#brands .brand-box {
  border: 1px solid #9397AD;
  border-radius: 8px;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#brands .brand-box:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  #brands {
    display: flex;
  }
}
#hero {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  padding-bottom: 2rem;
  padding-top: 5rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  #hero {
    padding-bottom: 0;
  }
}
#hero .container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "headline" "content";
}
@media (min-width: 768px) and (max-width: 1400px) {
  #hero .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline headline" "content images";
  }
}
@media (min-width: 1400px) {
  #hero .container {
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "headline images" "content images";
  }
}

.headline {
  grid-area: headline;
  text-align: center;
}
.headline h1 {
  font-size: 34px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .headline h1 {
    font-size: 56px;
  }
}
@media (min-width: 1400px) {
  .headline h1 {
    text-align: left;
  }
}

.content {
  grid-area: content;
  text-align: center;
}
@media (min-width: 768px) {
  .content {
    text-align: left;
  }
}
.content p {
  font-size: 18px;
  margin-bottom: 2rem;
}
.content .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
@media (min-width: 1400px) {
  .content .buttons {
    flex-direction: row;
  }
}
.content .buttons .btn-download-app {
  background-color: #0B0F19;
  color: #fff;
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.content .buttons .btn-download-app:hover {
  background-color: #6366F1;
  color: #fff;
  text-decoration: none;
}
.content .discover-more {
  color: #0B0F19;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .content .discover-more {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1400px) {
  .content .discover-more {
    margin-top: 10rem;
  }
}

.images {
  position: relative;
  grid-area: images;
  display: none;
  margin-left: 2rem;
}
@media (min-width: 768px) {
  .images {
    display: block;
  }
}
.images .img-back {
  position: absolute;
  z-index: -10;
  bottom: 0;
  right: 150px;
  width: 55%;
  height: auto;
}
.images .img-front {
  position: absolute;
  z-index: -5;
  bottom: 0;
  right: 30px;
  width: 50%;
  height: auto;
}
@media (min-width: 768px) and (max-width: 1400px) {
  .images .img-back {
    width: 70%;
    right: 50px;
  }
  .images .img-front {
    width: 65%;
    right: 20px;
  }
}
@media (min-width: 1400px) {
  .images .img-back {
    bottom: -50px;
    right: 180px;
  }
  .images .img-front {
    bottom: -50px;
    right: 60px;
  }
}

.faqs-container {
  box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.3);
  max-width: 700px;
  margin: 0 auto;
}
.faqs-container .content {
  padding: 0 32px;
  background-color: #fdfffc;
  line-height: 2;
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease;
}
.faqs-container .content.active {
  max-height: 600px;
}
.faqs-container h2 {
  padding: 4px 32px;
  font-size: 28px;
}
.faqs-container h3 {
  font-size: 20px;
  padding: 0 32px;
}
.faqs-container .faq-header {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.faqs-container .open,
.faqs-container .close {
  position: absolute;
  right: 0;
  padding: 0 32px;
  font-size: 22px;
  font-weight: bold;
  transform: translateY(-8px);
  opacity: 0;
  transition: all 500ms;
}
.faqs-container .open.active {
  opacity: 1;
  transform: translateY(0);
}
.faqs-container .close.active {
  opacity: 1;
  transform: translateY(0);
}
.faqs-container .open {
  opacity: 1;
}
.faqs-container .close.active {
  opacity: 0;
}

footer {
  font-size: 14px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #9397AD;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
footer .credit {
  display: none;
}
@media (min-width: 768px) {
  footer .credit {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */