@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(0, 0, 0);
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #fff;
  /* Dark mode body background */
}
[data-theme=dark] body {
  background-color: #0B0F19;
}

a {
  color: #6366F1;
  text-decoration: none;
  /* Dark mode link color */
}
a:hover {
  text-decoration: underline;
}
[data-theme=dark] a {
  color: #fff;
}

header {
  background-color: #fff;
}
[data-theme=dark] header {
  background-color: #0B0F19;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  gap: 1.5rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  header .container {
    gap: 3rem;
  }
}
@media (min-width: 1400px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    gap: 2rem;
  }
}
header .nav-link {
  color: #0B0F19;
  /* Dark mode nav text color */
  font-weight: 500;
}
[data-theme=dark] header .nav-link {
  color: #fff;
}
header .nav-link:hover, header .nav-link:active {
  color: #6366F1;
  text-decoration: underline;
}
header .navbar {
  display: none;
}
@media (min-width: 1400px) {
  header .navbar {
    display: block;
  }
}
header .btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
@media (min-width: 1400px) {
  header .btn-mobile {
    display: none;
  }
}
header #auth-signin {
  display: none;
  background-color: #6366F1;
  color: #fff;
  /* Dark mode button text and background color */
}
@media (min-width: 1400px) {
  header #auth-signin {
    display: block;
  }
}
[data-theme=dark] header #auth-signin {
  background-color: #6366F1;
  color: #fff;
}

.btn-primary {
  background-color: #6366F1;
  color: #fff;
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* Dark mode button background and text color */
}
.btn-primary:hover {
  background-color: #9397AD;
}
[data-theme=dark] .btn-primary {
  background-color: #6366F1;
  color: #fff;
}
.btn-primary i {
  margin-right: 0.5rem;
}

.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-toggle-switch .label {
  display: none;
}
@media (min-width: 768px) {
  .btn-toggle-switch .label {
    display: block;
  }
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9397AD;
  transition: all 0.2s;
  /* Dark mode toggle switch */
}
.toggle-switch .slider::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 3px;
  bottom: 2.5px;
  background-color: #fff;
  transition: all 0.2s;
}
.toggle-switch .slider.round {
  border-radius: 35px;
}
.toggle-switch .slider.round::before {
  border-radius: 50%;
}
[data-theme=dark] .toggle-switch .slider {
  background-color: #6366F1;
}
.toggle-switch input:checked + .slider::before {
  transform: translateX(20px);
}
.toggle-switch input:checked + .slider {
  background-color: #6366F1;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

body {
  background-color: #fff;
  color: #0B0F19;
}

[data-theme=dark] body {
  background-color: #0B0F19;
  color: #fff;
}

/* <<Hero Section start>> */
#hero {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  padding-bottom: 2rem;
  padding-top: 5rem;
  overflow: hidden;
  /* <<Container>> */
  /* <<Headline>> */
  /* <<Content>> */
  /* <<Images>> */
}
@media (min-width: 768px) {
  #hero {
    padding-bottom: 0;
  }
}
#hero .container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "headline" "content";
}
@media (min-width: 768px) and (max-width: 1400px) {
  #hero .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline headline" "content images";
  }
}
@media (min-width: 1400px) {
  #hero .container {
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "headline images" "content images";
  }
}
#hero .headline {
  grid-area: headline;
  text-align: center;
}
#hero .headline h1 {
  font-size: 34px;
  font-weight: 800;
}
@media (min-width: 768px) {
  #hero .headline h1 {
    font-size: 56px;
  }
}
@media (min-width: 1400px) {
  #hero .headline h1 {
    text-align: left;
  }
}
#hero .content {
  grid-area: content;
  text-align: center;
  /* <<Buttons>> */
  /* <<Discover More Button>> */
}
@media (min-width: 768px) {
  #hero .content {
    text-align: left;
  }
}
#hero .content p {
  font-size: 18px;
  margin-bottom: 2rem;
}
#hero .content .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
@media (min-width: 1400px) {
  #hero .content .buttons {
    flex-direction: row;
  }
}
#hero .content .buttons .btn-download-app {
  background-color: #0B0F19;
  color: #fff;
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#hero .content .buttons .btn-download-app:hover {
  background-color: #6366F1;
  color: #fff;
  text-decoration: none;
}
#hero .content .discover-more {
  color: #0B0F19;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  #hero .content .discover-more {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1400px) {
  #hero .content .discover-more {
    margin-top: 10rem;
  }
}
#hero .images {
  position: relative;
  grid-area: images;
  display: none;
  margin-left: 2rem;
}
@media (min-width: 768px) {
  #hero .images {
    display: block;
  }
}
#hero .images .img-back {
  position: absolute;
  z-index: -10;
  bottom: 0;
  right: 150px;
  width: 55%;
  height: auto;
}
#hero .images .img-front {
  position: absolute;
  z-index: -5;
  bottom: 0;
  right: 30px;
  width: 50%;
  height: auto;
}
@media (min-width: 744px) and (max-width: 1400px) {
  #hero .images .img-back {
    width: 70%;
    right: 50px;
  }
  #hero .images .img-front {
    width: 65%;
    right: 20px;
  }
}
@media (min-width: 1400px) {
  #hero .images .img-back {
    bottom: -50px;
    right: 180px;
  }
  #hero .images .img-front {
    bottom: -50px;
    right: 60px;
  }
}

/* <<Hero Section end>> */
/* <<Brands Section start>> */
#brands {
  padding: 6rem 0;
  display: none;
  /* <<Container>> */
  /* <<Brand-box>> */
}
#brands .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
#brands .brand-box {
  border: 1px solid #9397AD;
  border-radius: 8px;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#brands .brand-box:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  #brands {
    display: flex;
  }
}
/* <<Brands Section end>> */
/* <<App Features Section start>> */
.app-image {
  display: none;
}

.app-features {
  padding: 20px;
  /* <<App Features Content>> */
  /* <<Tablet Layout>> */
  /* <<Mobile Layout>> */
  /* <<Desktop Layout>> */
}
.app-features .app-features-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* <<Features Section>> */
}
.app-features .app-features-content .features-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* <<App Features Header>> */
  /* <<Features List>> */
}
.app-features .app-features-content .features-section .app-features-header {
  text-align: center;
}
.app-features .app-features-content .features-section .app-features-header h1 {
  font-size: 24px;
}
.app-features .app-features-content .features-section .app-features-header p {
  font-size: 16px;
  margin: 10px 0;
  color: #565973;
}
.app-features .app-features-content .features-section .features-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* <<Feature Item>> */
}
.app-features .app-features-content .features-section .features-list .feature-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.app-features .app-features-content .features-section .features-list .feature-item .feature-text {
  max-width: 16rem;
  padding-top: 1.5rem;
}
.app-features .app-features-content .features-section .features-list .feature-item .feature-text h5 {
  font-size: 1.1rem;
  color: #0B0F19;
}
[data-theme=dark] .app-features .app-features-content .features-section .features-list .feature-item .feature-text h5 {
  color: #fff;
}
.app-features .app-features-content .features-section .features-list .feature-item .feature-text p {
  font-size: 1rem;
  padding-top: 1rem;
  color: #565973;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .app-features .app-features-content .features-section .app-features-header h1 {
    font-size: 28px;
  }
  .app-features .app-features-content .features-section .features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .app-features .app-features-content .features-section .features-list .feature-text h5 {
    font-size: 18px;
    color: #0B0F19;
  }
  [data-theme=dark] .app-features .app-features-content .features-section .features-list .feature-text h5 {
    color: #fff;
  }
  .app-features .app-features-content .features-section .features-list .feature-text p {
    font-size: 14px;
    color: #565973;
  }
}
@media (max-width: 768px) {
  .app-features .app-features-content .features-section .features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .app-features {
    padding: 6.875rem;
    display: flex;
    justify-content: center;
  }
  .app-features .app-features-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
  }
  .app-features .app-features-content .app-image {
    display: block;
  }
  .app-features .app-features-content .features-section {
    width: 60%;
    text-align: left;
  }
  .app-features .app-features-content .features-section .app-features-header {
    padding-bottom: 4rem;
    text-align: left;
  }
  .app-features .app-features-content .features-section .app-features-header h1 {
    font-size: 36px;
  }
  .app-features .app-features-content .features-section .features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .app-features .app-features-content .features-section .features-list .feature-item {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .app-features .app-features-content .features-section .features-list .feature-item .feature-text h5 {
    font-size: 20px;
    margin: 0;
    color: #0B0F19;
  }
  [data-theme=dark] .app-features .app-features-content .features-section .features-list .feature-item .feature-text h5 {
    color: #fff;
  }
  .app-features .app-features-content .features-section .features-list .feature-item .feature-text p {
    font-size: 16px;
    margin: 0;
    color: #565973;
  }
}

/* <<App Features Section end>> */
/* <<How It Works Section start>> */
.how-it-works {
  background-color: #f0f4ff;
  /* <<Container>> */
}
.how-it-works .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  /* <<Section Title>> */
  /* <<Step Images>> */
  /* Visa endast desktop-text i desktop-läge */
  /* Döljer tablet- och mobilbeskrivningar i desktop-läge */
  /* <<Step Description>> */
}
.how-it-works .container .section-title {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 5.3rem;
  color: #0B0F19;
}
.how-it-works .container .step-images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  gap: 5.3rem;
  /* Visa endast desktop-bilder i desktop-läge */
  /* Döljer tablet och mobil-bilder i desktop-läge */
}
.how-it-works .container .step-images .desktop-image {
  display: block;
  height: auto;
  width: auto;
}
.how-it-works .container .step-images .tablet-image,
.how-it-works .container .step-images .mobile-image {
  display: none;
}
.how-it-works .container .desktop-text {
  display: block;
  color: #0B0F19;
}
.how-it-works .container .tablet-text,
.how-it-works .container .mobile-text {
  display: none;
}
.how-it-works .container .step-description {
  text-align: center;
  margin: auto;
  padding-bottom: 6.5rem;
  padding-top: 3.1rem;
}
.how-it-works .container .step-description h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0B0F19;
}
.how-it-works .container .step-description p {
  font-size: 1rem;
  color: #9397AD;
  max-width: 400px;
  margin: 0 auto;
}

/* <<Tablet Layout>> */
@media (min-width: 768px) and (max-width: 1023px) {
  .how-it-works .container {
    padding: 0 15px;
  }
  .how-it-works .container .section-title {
    font-size: 2rem; /* Mindre rubrik för tablet */
    padding: 4rem;
    color: #0B0F19;
  }
  .how-it-works .container .step-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30px;
    /* Visa endast tablet-bilder i tablet-läge */
  }
  .how-it-works .container .step-images .tablet-image {
    display: block;
    width: 25%;
    height: auto;
  }
  .how-it-works .container .step-images .desktop-image,
  .how-it-works .container .step-images .mobile-image {
    display: none;
  }
  .how-it-works .container .tablet-text {
    display: block;
    color: #0B0F19;
  }
  .how-it-works .container .desktop-text,
  .how-it-works .container .mobile-text {
    display: none;
  }
  .how-it-works .container .step-description {
    padding-top: 2rem;
    padding-bottom: 4rem;
    max-width: 600px;
  }
  .how-it-works .container .step-description h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #0B0F19;
  }
  .how-it-works .container .step-description p {
    font-size: 0.9rem;
    color: #9397AD;
    max-width: 350px;
  }
}
/* <<Mobile Layout>> */
@media (max-width: 767px) {
  .how-it-works .container {
    padding: 0 10px;
  }
  .how-it-works .container .section-title {
    font-size: 1.8rem; /* Mindre rubrik för mobil */
    padding: 3rem;
    color: #0B0F19;
  }
  .how-it-works .container .step-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 20px;
    /* Visa endast mobil-bilder i mobil-läge */
  }
  .how-it-works .container .step-images .mobile-image {
    display: block;
    width: 100%;
    height: auto;
  }
  .how-it-works .container .step-images .desktop-image,
  .how-it-works .container .step-images .tablet-image {
    display: none;
  }
  .how-it-works .container .mobile-text {
    display: block;
    color: #0B0F19;
  }
  .how-it-works .container .desktop-text,
  .how-it-works .container .tablet-text {
    display: none;
  }
  .how-it-works .container .step-description {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    max-width: 350px;
  }
  .how-it-works .container .step-description h3 {
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: #0B0F19;
  }
  .how-it-works .container .step-description p {
    font-size: 0.85rem;
    color: #9397AD;
    max-width: 320px;
  }
}
/* Dark mode styles for "How It Works" */
[data-theme=dark] .how-it-works {
  background-color: #111827;
}
[data-theme=dark] .how-it-works .container .section-title,
[data-theme=dark] .how-it-works .container .desktop-text,
[data-theme=dark] .how-it-works .container .tablet-text,
[data-theme=dark] .how-it-works .container .mobile-text {
  color: #fff;
}
[data-theme=dark] .how-it-works .container .step-description h3 {
  color: #fff;
}
[data-theme=dark] .how-it-works .container .step-description p {
  color: #6b7280;
}

/* <<How It Works Section end>> */
/* <<Transaction Section start>> */
.transaction-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  max-width: 1200px;
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .transaction-section {
    display: none;
  }
}

/* <<Transaction Item>> */
.transaction-item {
  padding: 20px;
}
.transaction-item.transaction-right {
  text-align: left;
}
.transaction-item.transaction-right h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 130%;
  max-width: 400px;
  padding-left: 20px;
}
.transaction-item.transaction-right .payment-details {
  padding-left: 20px;
}
.transaction-item.transaction-right .payment-details .payment-feature {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}
.transaction-item.transaction-right .payment-details .payment-feature img {
  width: 60px;
  height: 60px;
}
.transaction-item.transaction-right .payment-details .payment-feature p {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
  text-align: start;
}
.transaction-item.transaction-right .btn {
  display: inline-block;
  background-color: #5f63f2;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  padding-left: 20px;
}
.transaction-item.transaction-right .btn:hover {
  background-color: #4a4ed2;
}
.transaction-item.transaction-right .btn::after {
  content: " →";
  padding-left: 5px;
}
.transaction-item.transaction-right img {
  width: 100%;
  height: auto;
}
.transaction-item.transaction-left h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 130%;
  max-width: 400px;
}
.transaction-item.transaction-left ul {
  list-style: none;
  padding-top: 3rem;
  margin-bottom: 20px;
}
.transaction-item.transaction-left ul li {
  font-size: 1.1rem;
  color: #4f4f4f;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.transaction-item.transaction-left ul li::before {
  content: "✓";
  color: #5f63f2;
  margin-right: 10px;
}
.transaction-item.transaction-left .btn {
  display: inline-block;
  background-color: #5f63f2;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.transaction-item.transaction-left .btn:hover {
  background-color: #4a4ed2;
}
.transaction-item.transaction-left .btn::after {
  content: " →";
  padding-left: 5px;
}

/* <<Payment Details>> */
.payment-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding-top: 3rem;
}
.payment-details .payment-feature {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}
.payment-details .payment-feature img {
  width: 60px;
  height: 60px;
}
.payment-details .payment-feature p {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

/* <<Right Column Button>> */
.transaction-item.transaction-right .btn {
  display: inline-block;
  background-color: #5f63f2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.transaction-item.transaction-right .btn:hover {
  background-color: #4a4ed2;
}

/* <<Transaction Section end>> */
/* <<Testimonials Section start>> */
.testimonials-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  background-color: #f0f4ff;
  margin: 0;
  width: 100vw;
  padding: 6rem 10rem;
}
@media (max-width: 1024px) {
  .testimonials-section {
    display: none;
  }
}
.testimonials-section .testimonials-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15rem;
  padding-left: 50px;
}
.testimonials-section .testimonials-title h2 {
  padding-bottom: 0rem;
  font-size: 40px;
  font-weight: 800;
  color: #0B0F19;
  max-width: 350px;
  line-height: 1.2;
}
.testimonials-section .testimonials-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media (max-width: 768px) {
  .testimonials-section .testimonials-reviews {
    grid-template-columns: 1fr;
  }
}
.testimonials-section .testimonials-reviews .testimonial {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.testimonials-section .testimonials-reviews .testimonial:hover {
  transform: translateY(-5px);
}
.testimonials-section .testimonials-reviews .testimonial .testimonial-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonials-section .testimonials-reviews .testimonial .testimonial-header .quote-icon {
  width: 40px;
  height: 40px;
  margin-top: -5em;
  position: relative;
  z-index: 1;
}
.testimonials-section .testimonials-reviews .testimonial .testimonial-header .stars {
  color: #FFD43B;
  font-size: 1rem;
}
.testimonials-section .testimonials-reviews .testimonial p {
  font-size: 1.1rem;
  margin: 20px 0;
  color: #888;
  line-height: 1.6;
}
.testimonials-section .testimonials-reviews .testimonial .testimonial-author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonials-section .testimonials-reviews .testimonial .testimonial-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.testimonials-section .testimonials-reviews .testimonial .testimonial-author .author-info h4 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
  color: #333;
}
.testimonials-section .testimonials-reviews .testimonial .testimonial-author .author-info p {
  font-size: 1rem;
  color: #888;
  margin: 0;
}

/* Dark mode styles for Testimonials Section */
[data-theme=dark] .testimonials-section {
  background-color: #111827;
}
[data-theme=dark] .testimonials-section .testimonials-title h2 {
  color: #fff;
}
[data-theme=dark] .testimonials-section .testimonials-reviews .testimonial {
  background-color: #1F2937;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
[data-theme=dark] .testimonials-section .testimonials-reviews .testimonial p {
  color: #6b7280;
}
[data-theme=dark] .testimonials-section .testimonials-reviews .testimonial .testimonial-author .author-info h4 {
  color: #fff;
}
[data-theme=dark] .testimonials-section .testimonials-reviews .testimonial .testimonial-author .author-info p {
  color: #6b7280;
}

/* <<Testimonials Section end>> */
/* <<FAQ Section start>> */
.faq-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 4rem 6rem;
}
@media (min-width: 1025px) {
  .faq-section {
    grid-template-columns: 40% 60%;
    align-items: start;
  }
}
@media (max-width: 1024px) {
  .faq-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "faq" "contact";
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .faq-section {
    grid-template-columns: 1fr;
  }
}

/* <<FAQ Header>> */
.faq-header {
  grid-area: header;
  text-align: start;
}
.faq-header h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.faq-header p {
  font-size: 1.5rem;
  color: #6c757d;
  margin-bottom: 2rem;
}
@media (min-width: 1025px) {
  .faq-header {
    grid-column: 1;
  }
}
@media (max-width: 1024px) {
  .faq-header {
    text-align: center;
  }
  .faq-header h2, .faq-header p {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .faq-header {
    text-align: center;
  }
  .faq-header h2, .faq-header p {
    margin: 0 auto;
  }
}

/* <<FAQ Contact Options>> */
.faq-contact-options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 10rem;
  width: 100%;
  grid-area: contact;
}
.faq-contact-options .contact-option {
  flex: 1;
  text-align: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.faq-contact-options .contact-option img {
  margin-bottom: 0.5rem;
}
.faq-contact-options .contact-option p {
  font-size: 1rem;
}
.faq-contact-options .contact-option a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.faq-contact-options .contact-option a:after {
  content: "→";
  margin-left: 0.5rem;
  transition: margin-left 0.3s ease-in-out;
}
.faq-contact-options .contact-option a:hover:after {
  margin-left: 1rem;
}
.faq-contact-options .contact-option a:first-child a {
  color: #4a69bb;
}
.faq-contact-options .contact-option a:nth-child(2) a {
  color: #28a745;
}
.faq-contact-options .contact-option a:hover {
  background-color: #f0f0f0;
}
@media (min-width: 1025px) {
  .faq-contact-options {
    grid-column: 1;
  }
}
@media (max-width: 1024px) {
  .faq-contact-options {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .faq-contact-options {
    display: none;
  }
}

/* <<FAQ Body>> */
.faq-body {
  grid-area: faq;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.faq-body .faq-questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.faq-body .faq-questions button.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.75rem;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0px;
  color: #000;
}
.faq-body .faq-questions button.faq-question img {
  transition: transform 0.3s ease, filter 0.3s ease;
}
.faq-body .faq-questions button.faq-question:hover {
  background-color: #f9f9f9;
}
.faq-body .faq-questions button.faq-question.active img {
  transform: rotate(180deg);
}
.faq-body .faq-questions .faq-answer {
  display: none;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0px;
  color: #6c757d;
}
.faq-body .faq-questions .show {
  display: block;
}
@media (min-width: 1025px) {
  .faq-body {
    grid-column: 2;
  }
}
@media (max-width: 1024px) {
  .faq-body {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .faq-body {
    width: 100%;
  }
}

/* <<Single Contact Button>> */
.single-contact-btn {
  display: none;
}
@media (max-width: 768px) {
  .single-contact-btn {
    display: block;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #6366F1;
    color: #fff;
    text-align: center;
    border-radius: 0.75rem;
    font-weight: 600;
  }
}

/* <<FAQ Section end>> */
/* <<Newsletter Section start>> */
/* Light mode (default) styles */
#newsletter {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background-color: #EFF2FC;
  border-radius: 12px;
  /* <<Left Section>> */
  /* <<Right Section>> */
  /* Responsive design */
}
#newsletter .newsletter-left {
  display: flex;
  align-items: center;
}
#newsletter .newsletter-left .notification-icon {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
#newsletter .newsletter-left p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  color: #0B0F19;
}
#newsletter .newsletter-right .newsletter-form {
  display: flex;
  align-items: center;
}
#newsletter .newsletter-right .newsletter-form input[type=email] {
  padding: 15px 50px 15px 45px;
  border: 1px solid #9397AD;
  border-radius: 8px 0 0 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  color: #9397AD;
  background-color: #fff;
}
#newsletter .newsletter-right .newsletter-form input[type=email]::-moz-placeholder {
  color: #9397AD;
}
#newsletter .newsletter-right .newsletter-form input[type=email]::placeholder {
  color: #9397AD;
}
#newsletter .newsletter-right .newsletter-form input[type=email]:focus {
  border-color: #6366F1;
}
#newsletter .newsletter-right .newsletter-form button {
  padding: 15px 40px;
  background-color: #6366F1;
  color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#newsletter .newsletter-right .newsletter-form button:hover {
  background-color: #3438ed;
}
@media (max-width: 768px) {
  #newsletter {
    flex-direction: column;
    align-items: flex-start;
  }
  #newsletter .newsletter-left {
    margin-bottom: 20px;
  }
  #newsletter .newsletter-right {
    width: 100%;
  }
  #newsletter .newsletter-right .newsletter-form {
    width: 100%;
    flex-direction: column;
  }
  #newsletter .newsletter-right .newsletter-form input[type=email] {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px 15px;
    background-position: 15px center;
  }
  #newsletter .newsletter-right .newsletter-form button {
    width: 100%;
    border-radius: 8px;
  }
}

/* <<Newsletter Section end>> */
footer {
  font-size: 14px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #9397AD;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
footer .credit {
  display: none;
}
@media (min-width: 768px) {
  footer .credit {
    display: block;
  }
}

/* Global Dark Mode Styles */
[data-theme=dark] {
  /* Sign in/up Button Fix for Dark Mode */
  /* Specific Style for the Newsletter Section */
  /* Dark mode styles for "How It Works" Section */
}
[data-theme=dark] body, [data-theme=dark] .section {
  background-color: #111827;
  color: #fff;
}
[data-theme=dark] h1, [data-theme=dark] h2, [data-theme=dark] h3, [data-theme=dark] h4, [data-theme=dark] h5, [data-theme=dark] h6 {
  color: #fff;
}
[data-theme=dark] p, [data-theme=dark] li, [data-theme=dark] .text-muted {
  color: #6b7280;
}
[data-theme=dark] .card, [data-theme=dark] .box, [data-theme=dark] .testimonial {
  background-color: #1F2937;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
[data-theme=dark] .button {
  background-color: #6366F1;
  color: #fff;
}
[data-theme=dark] #auth-signin {
  color: #fff !important;
  background-color: #6366F1;
}
[data-theme=dark] #newsletter {
  background-color: #1F2937;
  color: #fff;
}
[data-theme=dark] #newsletter .newsletter-left p {
  color: #fff;
}
[data-theme=dark] #newsletter .newsletter-right input[type=email] {
  background-color: #161d27;
  color: #fff;
}
[data-theme=dark] #newsletter .newsletter-right input[type=email]::-moz-placeholder {
  color: #6b7280;
}
[data-theme=dark] #newsletter .newsletter-right input[type=email]::placeholder {
  color: #6b7280;
}
[data-theme=dark] #newsletter .newsletter-right button {
  color: #fff;
}
[data-theme=dark] .how-it-works {
  background-color: #111827;
}
[data-theme=dark] .how-it-works .container .section-title,
[data-theme=dark] .how-it-works .container .desktop-text,
[data-theme=dark] .how-it-works .container .tablet-text,
[data-theme=dark] .how-it-works .container .mobile-text {
  color: #fff;
}
[data-theme=dark] .how-it-works .container .step-description h3 {
  color: #fff;
}
[data-theme=dark] .how-it-works .container .step-description p {
  color: #6b7280;
}/*# sourceMappingURL=style.css.map */