// Light mode (default)
body {
  background-color: $color-background-current;
  color: $color-text-current;
}

// Dark mode styles
[data-theme='dark'] body {
  background-color: $color-background-dark-current; // Dark mode background
  color: $color-text-dark-current; // Dark mode text color
}





/* <<Hero Section start>> */
#hero {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  padding-bottom: 2rem;
  padding-top: 5rem;
  overflow: hidden;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }

  /* <<Container>> */
  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "headline"
      "content";

    @media (min-width: 768px) and (max-width: 1400px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "headline headline"
        "content images";
    }

    @media (min-width: 1400px) {
      gap: 2rem;
      grid-template-columns: 2fr 3fr;
      grid-template-areas:
        "headline images"
        "content images";
    }
  }

  /* <<Headline>> */
  .headline {
    grid-area: headline;
    text-align: center;

    h1 {
      font-size: 34px;
      font-weight: 800;

      @media (min-width: 768px) {
        font-size: 56px;
      }

      @media (min-width: 1400px) {
        text-align: left;
      }
    }
  }

  /* <<Content>> */
  .content {
    grid-area: content;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

    p {
      font-size: 18px;
      margin-bottom: 2rem;
    }

    /* <<Buttons>> */
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 3rem;

      @media (min-width: 1400px) {
        flex-direction: row;
      }

      .btn-download-app {
        background-color: $color-dark;
        color: $color-white;
        border-radius: 8px;
        padding: 12px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
      }

      .btn-download-app:hover {
        background-color: $color-primary;
        color: $color-white;
        text-decoration: none;
      }
    }

    /* <<Discover More Button>> */
    .discover-more {
      color: $color-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;

      @media (min-width: 768px) {
        justify-content: flex-start;
        margin-bottom: 2rem;
      }

      @media (min-width: 1400px) {
        margin-top: 10rem;
      }
    }
  }

  /* <<Images>> */
  .images {
    position: relative;
    grid-area: images;
    display: none;
    margin-left: 2rem;

    @media (min-width: 768px) {
      display: block;
    }

    .img-back {
      position: absolute;
      z-index: -10;
      bottom: 0;
      right: 150px;
      width: 55%;
      height: auto;
    }

    .img-front {
      position: absolute;
      z-index: -5;
      bottom: 0;
      right: 30px;
      width: 50%;
      height: auto;
    }

    @media (min-width: 744px) and (max-width: 1400px) {
      .img-back {
        width: 70%;
        right: 50px;
      }

      .img-front {
        width: 65%;
        right: 20px;
      }
    }

    @media (min-width: 1400px) {
      .img-back {
        bottom: -50px;
        right: 180px;
      }

      .img-front {
        bottom: -50px;
        right: 60px;
      }
    }
  }
}
/* <<Hero Section end>> */



/* <<Brands Section start>> */

// Sektion för Brands
#brands {
  padding: 6rem 0;
  display: none; // Dölj brands-sektionen i mobilt läge

  /* <<Container>> */
  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap; // Gör att brands radas upp snyggt
  }

  /* <<Brand-box>> */
  .brand-box {
      border: 1px solid $color-border-gray;
      border-radius: 8px;
      height: 100px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
          transform: scale(1.05); // Zooma in vid hover
      }
  }
}

// Media queries för större skärmar
@media (min-width: 768px) {
  #brands {
      display: flex; 
  }
}

/* <<Brands Section end>> */




/* <<App Features Section start>> */

.app-image {
  display: none;
}

.app-features {
  padding: 20px;

  /* <<App Features Content>> */
  .app-features-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* <<Features Section>> */
    .features-section {
      display: flex;
      flex-direction: column;
      width: 100%;

      /* <<App Features Header>> */
      .app-features-header {
        text-align: center;

        h1 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
          margin: 10px 0;
          color: $color-light-gray; 
        }
      }

      /* <<Features List>> */
      .features-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        /* <<Feature Item>> */
        .feature-item {
          display: flex;
          align-items: center;
          gap: 15px;

          .feature-text {
            max-width: 16rem;
            padding-top: 1.5rem;

            h5 {
              font-size: 1.1rem;
              color: $color-dark; 
              [data-theme="dark"] & {
                color: $color-white-dark; 
              }
            }
            p {
              font-size: 1rem;
              padding-top: 1rem;
              color: $color-light-gray;
            }
          }
        }
      }
    }
  }

  /* <<Tablet Layout>> */
  @media (min-width: 768px) and (max-width: 1024px) {
    .app-features-content {
      .features-section {
        .app-features-header {
          h1 {
            font-size: 28px;
          }
        }

        .features-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          justify-content: center; 
          align-items: center; 

          .feature-text {
            h5 {
              font-size: 18px;
              color: $color-dark; 
              [data-theme="dark"] & {
                color: $color-white-dark;
              }
            }
            p {
              font-size: 14px;
              color: $color-light-gray;
            }
          }
        }
      }
    }
  }

  /* <<Mobile Layout>> */
  @media (max-width: 768px) {
    .app-features-content {
      .features-section {
        .features-list {
          display: flex;
          flex-direction: column;
          justify-content: center; 
          align-items: center; 
        }
      }
    }
  }

  /* <<Desktop Layout>> */
  @media (min-width: 1400px) {
    padding: 6.875rem;
    display: flex;
    justify-content: center;

    .app-features-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      gap: 50px;

      .app-image {
        display: block;
      }

      .features-section {
        width: 60%;
        text-align: left;

        .app-features-header {
          padding-bottom: 4rem;
          text-align: left;
          h1 {
            font-size: 36px;
          }
        }

        .features-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 3rem;

          .feature-item {
            display: flex;
            gap: 15px;
            align-items: center;

            .feature-text {
              h5 {
                font-size: 20px;
                margin: 0;
                color: $color-dark; 
                [data-theme="dark"] & {
                  color: $color-white-dark; 
                }
              }
              p {
                font-size: 16px;
                margin: 0;
                color: $color-light-gray; 
              }
            }
          }
        }
      }
    }
  }
}

/* <<App Features Section end>> */



  
 
 /* <<How It Works Section start>> */

.how-it-works {
  background-color: $color-gray-700; // Default för light mode

  /* <<Container>> */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;

    /* <<Section Title>> */
    .section-title {
      font-size: 2.5rem;
      font-weight: bold;
      padding: 5.3rem;
      color: $color-text-current;
    }

    /* <<Step Images>> */
    .step-images {
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;
      gap: 5.3rem;

      /* Visa endast desktop-bilder i desktop-läge */
      .desktop-image {
        display: block;
        height: auto;
        width: auto;
      }

      /* Döljer tablet och mobil-bilder i desktop-läge */
      .tablet-image,
      .mobile-image {
        display: none;
      }
    }

    /* Visa endast desktop-text i desktop-läge */
    .desktop-text {
      display: block;
      color: $color-text-current;
    }

    /* Döljer tablet- och mobilbeskrivningar i desktop-läge */
    .tablet-text,
    .mobile-text {
      display: none;
    }

    /* <<Step Description>> */
    .step-description {
      text-align: center;
      margin: auto;
      padding-bottom: 6.5rem;
      padding-top: 3.1rem;

      h3 {
        font-size: 1.8rem;
        margin-bottom: 10px;
        font-weight: bold;
        color: $color-text-current;
      }

      p {
        font-size: 1rem;
        color: $color-muted-text-current;
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }
}

/* <<Tablet Layout>> */
@media (min-width: 768px) and (max-width: 1023px) {
  .how-it-works {
    .container {
      padding: 0 15px;

      .section-title {
        font-size: 2rem; /* Mindre rubrik för tablet */
        padding: 4rem;
        color: $color-text-current;
      }

      .step-images {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly; 
        align-items: center;
        gap: 1rem;
        margin-bottom: 30px;

        /* Visa endast tablet-bilder i tablet-läge */
        .tablet-image {
          display: block;
          width: 25%;
          height: auto;
        }

        .desktop-image,
        .mobile-image {
          display: none;
        }
      }

      .tablet-text {
        display: block;
        color: $color-text-current;
      }

      .desktop-text,
      .mobile-text {
        display: none;
      }

      .step-description {
        padding-top: 2rem;
        padding-bottom: 4rem;
        max-width: 600px;

        h3 {
          font-size: 1.6rem;
          margin-bottom: 10px;
          color: $color-text-current; 
        }

        p {
          font-size: 0.9rem;
          color: $color-muted-text-current;
          max-width: 350px;
        }
      }
    }
  }
}

/* <<Mobile Layout>> */
@media (max-width: 767px) {
  .how-it-works {
    .container {
      padding: 0 10px;

      .section-title {
        font-size: 1.8rem; /* Mindre rubrik för mobil */
        padding: 3rem;
        color: $color-text-current; 
      }

      .step-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 20px;

        /* Visa endast mobil-bilder i mobil-läge */
        .mobile-image {
          display: block;
          width: 100%;
          height: auto;
        }

        .desktop-image,
        .tablet-image {
          display: none;
        }
      }

      .mobile-text {
        display: block;
        color: $color-text-current; 
      }

      .desktop-text,
      .tablet-text {
        display: none;
      }

      .step-description {
        padding-top: 1.5rem;
        padding-bottom: 3rem;
        max-width: 350px;

        h3 {
          font-size: 1.4rem;
          margin-bottom: 8px;
          color: $color-text-current; 
        }

        p {
          font-size: 0.85rem;
          color: $color-muted-text-current; 
          max-width: 320px;
        }
      }
    }
  }
}

/* Dark mode styles for "How It Works" */
[data-theme="dark"] .how-it-works {
  background-color: $color-background-dark; 

  .container {
    .section-title,
    .desktop-text,
    .tablet-text,
    .mobile-text {
      color: $color-white-dark; 
    }

    .step-description h3 {
      color: $color-white-dark;
    }

    .step-description p {
      color: $color-muted-text-dark; 
    }
  }
}

/* <<How It Works Section end>> */

  


  
/* <<Transaction Section start>> */

// Container för hela sektionen
.transaction-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  max-width: 1200px;
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin: 0 auto;

  // Döljer sektionen på tablet och mobil
  @media (max-width: 1024px) {
    display: none;
  }
}

/* <<Transaction Item>> */
// Styling för vänster och höger kolumner
.transaction-item {
  padding: 20px;

  // <<Right Column>> 
  &.transaction-right {
    text-align: left;

    h2 {
      font-size: 32px;
      
      font-weight: 800;
      line-height: 130%;
      max-width: 400px; 
      padding-left: 20px; 
    }

    .payment-details {
      padding-left: 20px;

      .payment-feature {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: center;

        img {
          width: 60px;
          height: 60px;
        }

        p {
          font-size: 1rem;
          color: #555;
          margin-top: 10px;
          text-align: start;
        }
      }
    }

    .btn {
      display: inline-block;
      background-color: #5f63f2;
      color: white;
      padding: 10px 20px; 
      text-decoration: none;
      border-radius: 5px;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      padding-left: 20px; 

      &:hover {
        background-color: #4a4ed2;
      }

      &::after {
        content: ' →'; // Lägg till pil efter texten
        padding-left: 5px;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  // <<Left Column>> 
  &.transaction-left {
    h2 {
      font-size: 32px;
      
      font-weight: 800;
      line-height: 130%;
      max-width: 400px;
    }

    ul {
      list-style: none;
      padding-top: 3rem;
      margin-bottom: 20px;

      li {
        font-size: 1.1rem;
        color: #4f4f4f;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        &::before {
          content: "✓";
          color: #5f63f2;
          margin-right: 10px;
        }
      }
    }

    .btn {
      display: inline-block;
      background-color: #5f63f2;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #4a4ed2;
      }

      &::after {
        content: ' →'; // Lägg till pil efter texten
        padding-left: 5px;
      }
    }
  }
}

/* <<Payment Details>> */
// För att placera ikonerna och texten bredvid varandra
.payment-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px; 
  padding-top: 3rem;

  .payment-feature {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;

    img {
      width: 60px;
      height: 60px;
    }

    p {
      font-size: 1rem;
      color: #555;
      margin-top: 10px; 
    }
  }
}

/* <<Right Column Button>> */
// Placera knappen under ikonerna och texten
.transaction-item.transaction-right .btn {
  display: inline-block;
  background-color: #5f63f2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #4a4ed2;
  }
}

/* <<Transaction Section end>> */
    





/* <<Testimonials Section start>> */

// Testimonials-sektionen
.testimonials-section {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 60px; 
  background-color: $color-gray-700; // Bakgrundsfärg för hela sektionen (light mode)
  margin: 0; 
  width: 100vw; 
  padding: 6rem 10rem;

  // Döljer sektionen på tablet och mobil
  @media (max-width: 1024px) {
    display: none;
  }

  // Titel för testimonials
  .testimonials-title {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: -15rem;
    padding-left: 50px; 

    h2 {
      padding-bottom: 0rem;
      font-size: 40px;
      font-weight: 800;
      color: $color-dark; 
      max-width: 350px;
      line-height: 1.2;
    }
  }

  // Grid för recensionerna
  .testimonials-reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; 
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    // Styling för varje testimonial
    .testimonial {
      background-color: #fff; 
      padding: 30px; 
      border-radius: 15px; 
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px); // Flytta uppåt vid hover
      }

      // Header med citattecken och stjärnor
      .testimonial-header {
        display: flex;
        align-items: center;
        gap: 10px;

        // Citatteckensbilden
        .quote-icon {
          width: 40px; 
          height: 40px;
          margin-top: -5em; // Flytta upp ikonen ovanför boxen
          position: relative;
          z-index: 1; // Se till att ikonen visas ovanför boxen
        }

        // Stjärnorna
        .stars {
          color: #FFD43B; // Gula stjärnor
          font-size: 1rem; // Öka storleken på stjärnorna för bättre synlighet
        }
      }

      // Text för varje recension
      p {
        font-size: 1.1rem;
        margin: 20px 0;
        color: #888; 
        line-height: 1.6;
      }

      // Författarinformation (namn och titel)
      .testimonial-author {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 50px; // Gör författarbilden något större
          height: 50px;
          border-radius: 50%; // Gör bilden rund
        }

        .author-info {
          h4 {
            font-size: 1.2rem; 
            margin: 0;
            font-weight: bold;
            color: #333;
          }

          p {
            font-size: 1rem;
            color: #888; 
            margin: 0;
          }
        }
      }
    }
  }
}

/* Dark mode styles for Testimonials Section */
[data-theme="dark"] .testimonials-section {
  background-color: $color-background-dark; // Dark background color

  .testimonials-title h2 {
    color: $color-white-dark; 
  }

  .testimonials-reviews {
    .testimonial {
      background-color: $color-secondary-dark; // Dark mode box background
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); // Darken the shadow in dark mode

      p {
        color: $color-muted-text-dark; 
      }

      .testimonial-author {
        .author-info h4 {
          color: $color-white-dark; 
        }

        .author-info p {
          color: $color-muted-text-dark; 
        }
      }
    }
  }
}

/* <<Testimonials Section end>> */








/* <<FAQ Section start>> */

.faq-section {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 2rem;
  padding: 4rem 6rem;

  @media (min-width: 1025px) { // Desktop
    grid-template-columns: 40% 60%; 
    align-items: start;
  }

  @media (max-width: 1024px) { // Tablet
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto; 
    grid-template-areas: 
      "header"
      "faq"
      "contact"; // Ensure contact options are at the bottom
    text-align: center;
    align-items: center;
  }

  @media (max-width: 768px) { // Mobile
    grid-template-columns: 1fr; 
  }
}

/* <<FAQ Header>> */
.faq-header {
  grid-area: header; // Assigned grid area for tablet
  text-align: start;

  h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 2rem;
  }

  @media (min-width: 1025px) { // Desktop
    grid-column: 1;
  }

  @media (max-width: 1024px) { // Tablet
    text-align: center; 
    h2, p {
      margin: 0 auto; 
    }
  }

  @media (max-width: 768px) { // Mobile
    text-align: center; 
    h2, p {
      margin: 0 auto; 
    }
  }
}

/* <<FAQ Contact Options>> */
.faq-contact-options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 10rem;
  width: 100%;
  grid-area: contact; 

  .contact-option {
    flex: 1;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    img {
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;
      

      &:after {
        content: "→";
        margin-left: 0.5rem;
        transition: margin-left 0.3s ease-in-out;
      }

      &:hover:after {
        margin-left: 1rem;
      }

      &:first-child a {
        color: #4a69bb;
      }

      &:nth-child(2) a {
        color: #28a745;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  @media (min-width: 1025px) { // Desktop
    grid-column: 1; 
  }

  @media (max-width: 1024px) { // Tablet
    justify-content: center;
  }

  @media (max-width: 768px) { // Mobile
    display: none;
  }
}

/* <<FAQ Body>> */
.faq-body {
  grid-area: faq;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .faq-questions {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button.faq-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: #fff;
      border-radius: 0.75rem;
      border: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-size: 16px;

      font-weight: 600; 
      line-height: 160%; 
      letter-spacing: 0px; 
      color: #000;

      img {
        transition: transform 0.3s ease, filter 0.3s ease;
      }

      &:hover {
        background-color: #f9f9f9;
      }

      &.active img {
        transform: rotate(180deg);
      }
    }

    .faq-answer {
      display: none;
      padding: 1rem;
      background-color: #fff;
      border-radius: 0.75rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      margin-top: 0.5rem;
      font-size: 16px; 
      font-weight: 400; 
      line-height: 160%; 
      letter-spacing: 0px; 
      color: #6c757d; 
    }

    .show {
      display: block;
    }
  }

  @media (min-width: 1025px) { // Desktop
    grid-column: 2;
  }

  @media (max-width: 1024px) { // Tablet
    width: 100%;
  }

  @media (max-width: 768px) { // Mobile
    width: 100%;
  }
}

/* <<Single Contact Button>> */
.single-contact-btn {
  display: none;

  @media (max-width: 768px) { // Mobile
    display: block;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #6366F1;
    color: #fff;
    text-align: center;
    border-radius: 0.75rem;
    font-weight: 600;
  }
}

/* <<FAQ Section end>> */






/* <<Newsletter Section start>> */

/* Light mode (default) styles */
#newsletter {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background-color: $color-secondary-current;
  border-radius: 12px;

  /* <<Left Section>> */
  .newsletter-left {
    display: flex;
    align-items: center;

    .notification-icon {
      width: 45px;
      height: 45px;
      margin-right: 15px;
    }

    p {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.5;
      color: $color-text-current; 
    }
  }

  /* <<Right Section>> */
  .newsletter-right {
    .newsletter-form {
      display: flex;
      align-items: center;

      input[type="email"] {
        padding: 15px 50px 15px 45px;
        border: 1px solid $color-border-current; 
        border-radius: 8px 0 0 8px;
        font-size: 1rem;
        outline: none;
        transition: border-color 0.3s ease;
        color: $color-muted-text-current; 
        background-color: $color-background-current; 

        &::placeholder {
          color: $color-muted-text-current; 
        }

        &:focus {
          border-color: $color-primary;
        }
      }

      button {
        padding: 15px 40px;
        background-color: $color-primary;
        color: $color-white;
        border: none;
        border-radius: 0 8px 8px 0;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($color-primary, 10%);
        }
      }
    }
  }

  /* Responsive design */
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    .newsletter-left {
      margin-bottom: 20px;
    }

    .newsletter-right {
      width: 100%;

      .newsletter-form {
        width: 100%;
        flex-direction: column;

        input[type="email"] {
          width: 100%;
          border-radius: 8px;
          margin-bottom: 10px;
          padding: 15px 15px;
          background-position: 15px center;
        }

        button {
          width: 100%;
          border-radius: 8px;
        }
      }
    }
  }
}

/* <<Newsletter Section end>> */















































  
  
  
  
  




  
  










  



  
  








